[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
torch = {index = "pytorch",version = "*"}
torchvision = {index ="pytorch", version= "*"}
torchaudio = {index ="pytorch", version= "*"}
scikit-learn = "*"
pandas = "*"
tqdm = "*"
torchinfo = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
